body {
    background: url('../assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a{
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
}
ul{
    list-style: none;
}